* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
 .row{
     display:flex;
     justify-content:space-between;
     
     
    
 }
 .product{
     height:350px;
     width: 250px;
 }

 
 .product3{
     height:300px;
     width: 400px;
     position:relative;
     padding-top: 60px;
 }
 .product4{
     height:350px;
     width:400px;
 }
 .thirdproductdescription{
     position: relative;
     padding-top: 40px;

 }
 .product-link{
     text-decoration:none;
   
 }
h6{
   color: #000000 ;
   justify-content: center;
}
.container-fluid{
    
    margin-top: 100px;
    margin-left: 100px;
}
.cartbutton{
    position: relative;
    padding-top: 40px;
}


/*----------  Cart page styles----------*/
.products-container{
    max-width:650px;
    justify-content: space-around;
    margin:0 auto;
    margin-top: 50px;

}
.products-container ion-icon{

}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin:0 auto;
    
}
.product-title{
    width:45%;

}
.price{
    width: 15%;
    display: flex;
    align-items: center;

}
.quantity{
    width: 30%;
    display: flex;
    align-items: center;


}
.total{
    width: 10%;
    display: flex;
    align-items: center;

}
.productimages{
    width: 45%;
    display: flex;
    flex:wrap;


}
.productimages ion-icon{
    cursor:pointer;
}
 .productimages img{
     width:75px;
 }

 
