* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

/* styles for navbar */
.n1
{
    background-color: black;
    width:100%;
    height: 10%;
}
.n2
{
    color: white;
}
.n3
{
    width:400px
}
.n4
{
    border-color: orange;
}
.n5
{
    margin-right: 15px;
}
.n5:hover
{
    background-color: grey;
}
.n6
{
    background-color:dimgray;
    height: 50px;    
}
.n7
{
    color: white;
    padding-left: 2px;  
}
.n7:hover{
    background-color: white;
}
.n8
{
    padding-top: 5px;

}
button:focus{outline: none;}


/* ----------------------*/
 .row{
     display:flex;
     justify-content:space-between;
     
     
    
 }
 .product{
     height:350px;
     width: 250px;
 }

 
 .product3{
     height:300px;
     width: 400px;
     position:relative;
     padding-top: 60px;
 }
 .product4{
     height:350px;
     width:400px;
 }
 .thirdproductdescription{
     position: relative;
     padding-top: 40px;

 }
 .product-link{
     text-decoration:none;
   
 }
h6{
   color: #000000 ;
   justify-content: center;
}
.c1{
    
    margin-top: 100px;
    margin-left: 100px;
}
.cartbutton{
    position: relative;
    padding-top: 40px;
}


/*----------  Cart page styles----------*/
.products-container{
    max-width:800px;
    justify-content: space-around;
    margin:0 auto;
    margin-top: 50px;

}

.products-container ion-icon{
    font-size: 20px;
    color: blue;

}
.product-header{
    width: 100%;
   
    display: flex;
   
    border-bottom: 4px solid lightgray;
   
    
}
.product-title{
    width:25%;

}

.price{
    width: 15%;
    display: flex;
    align-items: center;
    

}

.quantity{
    width: 25%;
    display: flex;
    align-items: center;


}


.total{
    width: 25%;
    display: flex;
    align-items: center;

}
.productimages{
    width: 100%;
  
    


}

.productimages ion-icon{
    cursor:pointer;
}
 .productimages img{
     width:40px;
 }
 .display{
     display: flex;
 }
 .display p{
     justify-content: center;
     width:35%;
 }
/* <!-- totalCost container styling--> */

.overAllCostContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding:10px;
}
.overAllCostTitle{
    width:25%;
}
.overAllCost{
    width:25%;
}
 
